/*.sjqlout-content {
    display: none;
}*/
/*.sjqlout-content.content-active {
    display: block;
}*/


#page-sjqlout .contextual,
#sjqlout-hidden {
    display: none !important;
}

body.sjqlout-page {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 87.5%;
}

#page-menu-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
#page-menu-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#page-sjqlout #messages {
    padding: 0 10px;
}

body.sjqlout-page {
    overflow: hidden !important;
}

body.sjqlout-page #page-wrapper,
body.sjqlout-page #page-sjqlout {
    background-color: ivory;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
body.sjqlout-page #page-menu-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
body.sjqlout-page #messages {
    padding: 0;
}

#toolbar-administration > #toolbar-bar {
    z-index: 2502;
}
#toolbar-administration > .toolbar-tray {
    z-index: 2501;
    overflow: auto;
}
#toolbar-administration > .toolbar-tray > .toolbar-lining:before {
    bottom: auto;
}

body.sjqlout-page #main,
body.sjqlout-page #main > #content,
body.sjqlout-page #main > #content > .section {
    margin: 0;
    padding: 0;
    position: static;
}

#page-sjqlout > .ui-layout-pane, 
#lout-center > .ui-layout-pane, 
#lout-east > .ui-layout-pane, 
#lout-west > .ui-layout-pane {
    padding: 0;
}
#lout-c-center.region-on-top {
    z-index: auto !important;
}

#page-sjqlout .lout-top-pane {
    border: none;
} 
#page-sjqlout .lout-top-pane .ui-layout-north {
    background-color: lavender;
    padding: 0 0 0 3px;
} 
#page-sjqlout #lout-c-north {
    padding: 0;
    overflow: hidden;
} 
#page-sjqlout #lout-center.hasEast #lout-c-north {
    padding-right: 22px;
} 
#page-sjqlout #lout-center.hasWest #lout-c-north {
    padding-left: 22px;
} 
#page-sjqlout .lout-top-pane .ui-layout-center .ui-tabs,
#page-sjqlout .lout-top-pane .ui-layout-center .ui-tabs .ui-tabs-panel 
{
    padding: 0;
} 
#page-sjqlout .lout-top-pane .ui-layout-center .ui-widget.ui-tabs {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 100%;
    border: none;
} 
#page-sjqlout .lout-top-pane .ui-layout-resizer-north {
    background-color: steelblue;
} 

.block-mainpagecontent.tbsys-content > .sjqlout-content-header,
.block-mainpagecontent.tbsys-content > .sjqlout-over-margin,
.block-mainpagecontent .block-mainpagecontent.tbsys-content .sjqlout-content-header,
.block-mainpagecontent .block-mainpagecontent.tbsys-content .sjqlout-over-margin {
    background-color: beige;
}
#block-slogapp-tbtarget-tbsys .view-slogitem .item-list ul li a.active,
.block-mainpagecontent.content-active.tbsys-content > .sjqlout-content-header,
.block-mainpagecontent.content-active.tbsys-content > .sjqlout-over-margin,
.block-mainpagecontent.content-active .block-mainpagecontent.tbsys-content .sjqlout-content-header,
.block-mainpagecontent.content-active .block-mainpagecontent.tbsys-content .sjqlout-over-margin {
    background-color: sienna;
}
.block-mainpagecontent-over.tbsys-content .sjqlout-content-header,
.block-mainpagecontent-over.tbsys-content .sjqlout-over-margin {
    background-image: url("icons/bg-over-tbsys.svg");
}
.block-mainpagecontent.content-active .block-mainpagecontent.tbsys-content .sjqlout-content-header,
.block-mainpagecontent.content-active .block-mainpagecontent.tbsys-content .sjqlout-over-margin {
    background-image: url("icons/bg-over-tbsys-active.svg");
}

.view-display-id-slogitem_list_full {
    margin: -5px;
}
.view-display-id-slogitem_list_full > .view-content > .views-table {
    margin: 2px 0;
}
.view-display-id-slogitem_list_full ul.pager {
    margin-right: 10px;
    text-align: right;
}

#page-sjqlout li.pager-item {
    padding: 10px 4px;
}
#page-sjqlout li.pager-first > a,
#page-sjqlout li.pager-previous > a,
#page-sjqlout li.pager-item > a,
#page-sjqlout li.pager-next > a,
#page-sjqlout li.pager-last > a {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 0 10px;
}

#page-sjqlout #lout-c-north #sapp-si-toolbar-wrapper {
    margin: 0 28px 0 46px;
    overflow: auto;
}
#page-sjqlout .sapp-si-toolbar {
    height: 26px;
    margin-left: 8px;
    float: right;
    overflow: hidden;
}
#page-sjqlout .sapp-si-toolbar-item {
    float: left;
}
#page-sjqlout .sapp-si-toolbar-tabs {
    position: absolute;
    margin: 0;
    padding: 0 10px 0 0;
    background-color: lavender;
    z-index: 1;
}
.content-special .toggle-special .buttons-wrapper .special-button,
#lout-center #xt-tbline-scroll-down,
#lout-center > #si-content-totop-btn,
#page-sjqlout .sjqlout-toggler,
#page-sjqlout .sapp-si-toolbar .sapp-si-toolbar-item {
    height: 26px;
    width: 24px;
    margin: 0 3px 0 0;
    border: 1px solid gray;
    cursor: pointer;
    background-color: silver;
    background-image: url("icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    border-radius: 8px;
}
.content-special .toggle-special .buttons-wrapper .special-button {
    width: 22px;
    height: 22px;
    margin: 2px 0 0 0;
    display: none;
}
#page-sjqlout .sapp-si-toolbar .sapp-si-toolbar-item.disabled {
    background-color: lavender;
    cursor: auto;
}
#page-sjqlout .sapp-si-toolbar .sapp-si-toolbar-item.is-complete {
    background-color: khaki;
}
#page-sjqlout .sapp-si-toolbar-tabs .sapp-si-toolbar-item {
    margin: 2px 0 0;
    border-bottom: none;
    background-position: 6px 6px;
    border-radius: 12px 0 0 0;
}
#page-sjqlout .sapp-si-toolbar-tabs .sapp-si-toolbar-item.active {
    margin-top: 0;
    background-color: lavender;
    cursor: auto;
}

#page-sjqlout > .ui-layout-resizer-west,
#page-sjqlout > .ui-layout-resizer-east {
    background-color: silver;
    overflow: visible !important;
}
#page-sjqlout > .ui-layout-resizer-west .sjqlout-toggler > div,
#page-sjqlout > .ui-layout-resizer-west {
    background-image: url("images/gray-resizer-west.jpg");
    background-repeat: repeat-y;
}
#page-sjqlout > .ui-layout-resizer-east .sjqlout-toggler > div,
#page-sjqlout > .ui-layout-resizer-east {
    background-image: url("images/gray-resizer-east.jpg");
    background-repeat: repeat-y;
}
#page-sjqlout > .ui-layout-resizer .sjqlout-toggler > div {
    width: 6px;
    height: 30px;
    margin-left: -1px;    
}
#page-sjqlout > .ui-layout-resizer.ui-layout-resizer-east .sjqlout-toggler > div {
    margin-left: 19px;    
}

#lout-c-north #xt-tbline-scroll-down {
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: url("icons/edge-down.svg");
}
#lout-center > #si-content-totop-btn {
    margin: 0;
    top: -999px;
    right: 3px;
    position: absolute;
    background-color: steelblue;
    background-image: url("icons/edge-up-white.svg");
    opacity: 0.8;
    filter: Alpha(Opacity=80);
}
#lout-center > #si-content-totop-btn > div {
    position: absolute;
    height: 10px;
    left: -6000px;
    top: -3px;
    right: 36px;
    background-color: steelblue;
    border-radius: 0 8px 8px 0;
}

#page-sjqlout > .ui-layout-resizer-west .ui-layout-toggler,
#page-sjqlout > .ui-layout-resizer-east .ui-layout-toggler {
    display: none !important;
}
#page-sjqlout .sjqlout-toggler {
    position: absolute;
    top: 1px;
    border-color: #787878;
}
#page-sjqlout > .ui-layout-resizer-west .sjqlout-toggler {
    border-radius: 0 8px 8px 0;
}
#page-sjqlout > .ui-layout-resizer-east .sjqlout-toggler {
    border-radius: 8px 0 0 8px;
    left: -20px;
}

#page-sjqlout .lout-top-pane .si-tabs-helper {
    display: none;
    background-color: lavender;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 6px;
    width: 24px;
    z-index: 10;
}

#lout-center > .sjqlout-content-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000;
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}
#page-sjqlout #lout-center.content-splitted .ui-layout-resizer-east,
#page-sjqlout #lout-center.content-splitted .ui-layout-resizer-south {
    background-color: DimGray !important;
    background-image: url("images/gray-resizer-horizontal.jpg");
    background-repeat: repeat-x;
}
#page-sjqlout #lout-center.content-splitted .ui-layout-resizer-east.ui-layout-resizer-east-open {
    background-image: url("images/gray-resizer-east.jpg");
    background-repeat: repeat-y;
}
#page-sjqlout.sjqlout-content-east > .ui-layout-resizer-east-open,
#page-sjqlout.sjqlout-content-east > .ui-layout-resizer-west-open,
body.sjqlout-small #page-sjqlout > .ui-layout-resizer-east-open,
body.sjqlout-small #page-sjqlout > .ui-layout-resizer-west-open {
    opacity: 1.00 !important;
    filter:  alpha(opacity=100) !important;
    border-right-width:	1px !important;
}
body.sjqlout-small #page-sjqlout.slogtb-tray-open > .ui-layout-resizer-east-open,
body.sjqlout-small #page-sjqlout.slogtb-tray-open > .ui-layout-resizer-west-open {
    opacity: 0.01 !important;
    filter:  alpha(opacity=1) !important;
} 

#slogxt-dialog-content form .image-widget-data {   
    width: 70%;
}

.sjqlout-content.is-over {
    display: none;
    position: relative;
}
.sjqlout-content.content-active .sxt-header-wrapper {
    color: ivory;
    background-color: steelblue;
}
.sjqlout-content .sjqlout-over-margin {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
    background-color: #ccc;
    display: none;
}
.sjqlout-content.is-over > .content,
.sjqlout-content.is-over > .sxt-header-wrapper {
    margin-left: 10px;
}
.sjqlout-content.is-over > .sxt-header-wrapper {
    padding-left: 26px; 
}
.sjqlout-content.is-over > .sxt-header-wrapper .path-label {
    left: 26px; 
}
.sjqlout-content.is-over > .sjqlout-over-margin {
    background-image: url("icons/bg-over.svg");
    background-position: 0 10px;
    display: block;
}
.sjqlout-content.is-over > .sjqlout-over-margin,
.sjqlout-content.is-over .sxt-header-wrapper {
    background-color: #ccc;
    background-image: url("icons/bg-over.svg");
}
.sjqlout-content.is-over.content-active > .sjqlout-over-margin,
.sjqlout-content.is-over.content-active .sxt-header-wrapper {
    background-color: steelblue;
    background-image: url("icons/bg-over-active.svg");
}
#page-sjqlout .sjqlout-over-margin .sjqlout-over-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    left: 4px;
    border: 1px solid gray;
    cursor: pointer;    background-color: silver;
    background-image: url("icons/chross.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    border-radius: 8px;
}

.sjqlout-content {
    position: relative;
}
.sjqlout-content .content-special {
    display: none;
    position: absolute;
    height: 8px;
    background-color: gainsboro;
    top: -8px;
    width: 100%;
    left: 0;
}
.sjqlout-content .content-special .special-left-wrapper,
.sjqlout-content .content-special .special-right-wrapper {
    position: absolute;
    top: 0;
    height: 8px;
    background-color: gainsboro;
    overflow: hidden;
}
.sjqlout-content.has-special.special-open .content-special .special-left-wrapper,
.sjqlout-content.has-special.special-open .content-special .special-right-wrapper {
    height: 60px;
}
.sjqlout-content .content-special .special-left-wrapper {
    left: 0;
    right: 106px;
}
.sjqlout-content .content-special .special-right-wrapper {
    right: 0;
    width: 80px;
}
.sjqlout-content .content-special .toggle-special {
    position: absolute;
    top: 0;
    right: 80px;
    width: 26px;
    height: 28px;
    z-index: 2;
    background-color: silver;
    background-image: url("icons/special-open.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 60% auto;
    border-radius: 0 0 8px 8px;
    opacity: 0.5 !important;
    cursor: pointer;
}
.sjqlout-content .content-special .toggle-special .buttons-wrapper {
    display: none;
    width: 26px;
    height: 52px;
    margin: 0;
    padding: 0 1px;
}
.sjqlout-content.has-special.special-open .content-special .toggle-special .buttons-wrapper {
    display: block;
}

.sjqlout-content.has-special {
    margin-top: 8px;
}
.sjqlout-content.has-special .content-special {
    display: block;
}

.sjqlout-content.has-special.special-open {
    margin-top: 60px;
}
.sjqlout-content.has-special.special-open .content-special {
    height: 60px;
    top: -60px;
}
.sjqlout-content.has-special.special-open .content-special .toggle-special {
    height: 80px;
    background-image: url("icons/special-close.svg");
}


