/**
 * @file
 * Styling for sjqlout theme icons.
 */

/**
 * sjqlout-preloads
 */
#sjqlout-preloads {
    position: absolute;
    overflow: hidden;
    left: -9999px; 
    top: -9999px;
    height: 1px;
    width: 1px;
}


/**
 * ui-layout-resizer
 */
#sjqlout-preloads #sjqlout-pl-slide-right,
#page-sjqlout > .ui-layout-resizer-west .sjqlout-toggler,
#page-sjqlout > .ui-layout-resizer-east.ui-layout-resizer-east-open .sjqlout-toggler  {
    background-image: url("icons/slide-right.svg");
}
#sjqlout-preloads #sjqlout-pl-slide-left,
#page-sjqlout > .ui-layout-resizer-east .sjqlout-toggler,
#page-sjqlout > .ui-layout-resizer-west.ui-layout-resizer-west-open .sjqlout-toggler  {
    background-image: url("icons/slide-left.svg");
}

/**
 * ui-dialog
 */
body.sjqlout-page #slogxt-dialog-tabs.iconized > div.tabs-item.xtsi-icon-tcontentmain {
    background-image: url("icons/content-main.svg");
}
body.sjqlout-page #slogxt-dialog-tabs.iconized > div.tabs-item.xtsi-icon-tcontentmainover {
    background-image: url("icons/content-main-over.svg");
}
body.sjqlout-page #slogxt-dialog-tabs.iconized > div.tabs-item.xtsi-icon-tcontentnext {
    background-image: url("icons/content-next.svg");
}
body.sjqlout-page #slogxt-dialog-tabs.iconized > div.tabs-item.xtsi-icon-tcontentnextover {
    background-image: url("icons/content-next-over.svg");
}



/*            #sjqlout-modal-dialog-widget .sapp-button.ui-icon-pushpin {
                background-image: url("icons/pushpin.svg");
            }
            #sjqlout-modal-dialog-buttonpane .sjqlout-icon.action-checkbox.checked,
            #sjqlout-modal-dialog ul li.checked .li-checkbox {
                background-image: url("icons/checkbox-checked.svg");
            }
            #sjqlout-modal-dialog-buttonpane .sjqlout-icon.action-checkbox.undefined {
                background-image: url("icons/checkbox-undefined.svg");
            }
            #sjqlout-modal-dialog ul li.checked .li-radio {
                background-image: url("icons/radio-checked.svg");
            }
            #sjqlout-dialog-tabs.iconized > div.tabs-item.icon-tab-bm-content,
            #sjqlout-modal-dialog ul.bookmarks li.content-bookmark .li-title {
                background-image: url("icons/document.svg");
            }
            #sjqlout-dialog-tabs.iconized > div.tabs-item.icon-tab-bm-list,
            #sjqlout-modal-dialog ul.bookmarks li.list-bookmark .li-title {
                background-image: url("icons/list.svg");
            }*/

/**
 * dropbutton
 */
/*                body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-login:before {
                    background-image: url("icons/enter.svg");
                }
                body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-logout:before {
                    background-image: url("icons/exit.svg");
                }*/
/*            body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-profile:before {
                background-image: url("icons/user.svg");
            }
            body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-promoted:before {
                background-image: url("icons/target.svg");
            }
            body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-tbsys-surprise:before {
                background-image: url("icons/magic-wand-tbsys.svg");
            }
            body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-administer:before {
                background-image: url("icons/wrench.svg");
            }*/
body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-clear-sstorage:before {
    background-image: url("icons/clear-sstorage.svg");
}
body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-clear-lstorage:before {
    background-image: url("icons/clear-lstorage.svg");
}
body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-clear-idb:before {
    background-image: url("icons/clear-idb.svg");
}
body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-reload:before {
    background-image: url("icons/spinner.svg");
}
body.sjqlout-page .dropbutton-widget .dropbutton-action a.icon-dummy:before {
    background-image: url("icons/on-construction.svg");
}

#page-sjqlout .dropbutton-action a.header-action.icon-close:before {
    background-image: url("icons/exit.svg");
}
#page-sjqlout .dropbutton-action a.header-action.icon-remove:before {
    background-image: url("icons/chross.svg");
}
/*            #page-sjqlout .dropbutton-action a.header-action.icon-history-remove:before {
                background-image: url("icons/history-remove.svg");
            }
            #page-sjqlout .dropbutton-action a.header-action.icon-bookmark:before {
                background-image: url("icons/bookmark-add.svg");
            }
            #page-sjqlout .dropbutton-wrapper.has-bookmark a.header-action.icon-bookmark:before {
                background-image: url("icons/bookmark-remove.svg");
            }*/
/*            #page-sjqlout .dropbutton-action a.header-action.icon-split:before {
                background-image: url("icons/pagebreak.svg");
            }
            #page-sjqlout .dropbutton-action a.header-action.icon-edit:before {
                background-image: url("icons/pencil.svg");
            }
            #page-sjqlout .dropbutton-action a.header-action.icon-duplicate:before {
                background-image: url("icons/duplicate.svg");
            }
            #page-sjqlout .dropbutton-action a.header-action.icon-refresh:before {
                background-image: url("icons/refresh.svg");
            }
            #page-sjqlout .dropbutton-action a.header-action.icon-shuffle:before {
                background-image: url("icons/shuffle.svg");
            }*/

/**
 * slog-toolbar
 */
#page-sjqlout a.slogtb-link-extra {
    position: relative;
    padding-left: 2.5em;
}
#page-sjqlout a.slogtb-link-extra:before {
    background-image: url("icons/cog.svg");
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 100%;
    left: 0.6667em;
    position: absolute;
    top: 0;
    width: 20px;
}
#page-sjqlout a.slogtb-link-extra.icon-table:before {
    background-image: url("icons/table.svg");
}
#page-sjqlout a.slogtb-link-extra.icon-table.active:before {
    background-image: url("icons/table_ivory.svg");
}

/**
 * slogitem
 */
/*                #page-sjqlout .sapp-si-toolbar-item.icon-bookmarks {
                    background-image: url("icons/bookmarks.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-history {
                    background-image: url("icons/history-darkred.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-surprise {
                    background-image: url("icons/surprise-darkred.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-go-back {
                    background-image: url("icons/go-back.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-go-list {
                    background-image: url("icons/history.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-go-forward {
                    background-image: url("icons/go-forward.svg");
                }

                #page-sjqlout .sapp-si-toolbar-item.icon-pagebreak0 {
                    background-image: url("icons/pagebreak0.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-pagebreak1 {
                    background-image: url("icons/pagebreak1.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-pagebreak2 {
                    background-image: url("icons/pagebreak2.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-pagebreak3 {
                    background-image: url("icons/pagebreak3.svg");
                }
                #page-sjqlout .sapp-si-toolbar-item.icon-pagebreak4 {
                    background-image: url("icons/pagebreak4.svg");
                }
                #page-sjqlout .sapp-si-toolbar .sapp-si-toolbar-item.icon-maximize {
                    background-image: url("icons/enlarge.svg");
                }
                #page-sjqlout.maximized .sapp-si-toolbar .sapp-si-toolbar-item.icon-maximize {
                    background-image: url("icons/shrink.svg");
                }
                #lout-center .sapp-si-toolbar-item.icon-split {
                    background-image: url("icons/pagebreak2.svg");
                }
                #lout-center.content-splitted .sapp-si-toolbar-item.icon-split {
                    background-image: url("icons/pagebreak-remove.svg");
                }
                #lout-center .sapp-si-toolbar-item.icon-over {
                    background-image: url("icons/content-over.svg");
                }
                #lout-center.content-over .sapp-si-toolbar-item.icon-over {
                    background-image: url("icons/content-over-remove.svg");
                }*/

/*        #sjqlout-modal-dialog ul.bookmarks li.list-bookmark.tbtop .li-title,
        #sjqlout-dialog-tabs.iconized > div.tabs-item.icon-tab-tbtop,
        #page-sjqlout .sapp-si-toolbar-tabs .icon-tab-tbtop {
            background-image: url("icons/menu-top.svg");
        }
        #sjqlout-modal-dialog ul.bookmarks li.list-bookmark.tbbottom .li-title,
        #sjqlout-modal-dialog ul.bookmarks li.list-bookmark.tbex .li-title,
        #sjqlout-dialog-tabs.iconized > div.tabs-item.icon-tab-tbex,
        #page-sjqlout .sapp-si-toolbar-tabs .icon-tab-tbbottom,
        #page-sjqlout .sapp-si-toolbar-tabs .icon-tab-tbex {
            background-image: url("icons/menu-bottom.svg");
        }
        #sjqlout-modal-dialog ul.bookmarks li.list-bookmark.tbnode .li-title,
        #sjqlout-dialog-tabs.iconized > div.tabs-item.icon-tab-tbnode,
        #page-sjqlout .sapp-si-toolbar-tabs .icon-tab-tbnode {
            background-image: url("icons/menu-tbnode.svg");
        }*/


/**
 * Content.View
 */
.sjqlout-dropbutton ul.dropbutton a.sapp-link-content.icon-view:before {
    background-image: url("icons/eye.svg");
}



