/**
 * @file
 * Styling dropbutton for sjqlout.
 */

#lout-c-center .dropbutton-wrapper.slogxt-dropbutton li.dropbutton-action.action-next,
#lout-c-south .dropbutton-wrapper.slogxt-dropbutton li.dropbutton-action.action-main,
#lout-c-east .dropbutton-wrapper.slogxt-dropbutton li.dropbutton-action.action-main {
    display: none !important;
}

/*                .dropbutton-wrapper.sjqlout-dropbutton {
                    width: auto;
                    position: absolute;
                    top: 4px;
                    right: 2px;
                }
                #page-menu-top .dropbutton-wrapper.sjqlout-dropbutton,
                #page-menu-bottom .dropbutton-wrapper.sjqlout-dropbutton {
                    z-index: 8999;
                }
                .sjqlout-dropbutton .dropbutton-action a:focus {
                    text-decoration: none;
                }
                .sjqlout-dropbutton .dropbutton-action a:before {
                    background-image: url("icons/cog.svg");
                    background-attachment: scroll;
                    background-color: transparent;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0.6667em;
                    position: absolute;
                    top: 0;
                    width: 16px;
                }
                .sjqlout-dropbutton.dropbutton-multiple .dropbutton-action a {
                    border: none;
                }
                .sjqlout-dropbutton.dropbutton-single .dropbutton-widget {
                    margin-right: 5px;
                    border-radius: 20em;
                    background-color: #f2f1eb;
                }
                .view-header .sjqlout-dropbutton.dropbutton-single .dropbutton-widget {
                    background-color: lavender;
                }

                * .... 
                .dropbutton-wrapper.sjqlout-dropbutton .dropbutton-action a {
                    padding: 4px 4px 4px 10px;
                    min-width: 20px;
                    font-size: 14px;
                    line-height: 18px;
                }
                .dropbutton-wrapper.sjqlout-dropbutton .dropbutton-action a { 
                    padding-left: 36px;
                    position: relative;
                }
                .dropbutton-wrapper.sjqlout-dropbutton ul.dropbutton li:first-child {
                    max-width: 34px;
                }
                .dropbutton-wrapper.sjqlout-dropbutton.open ul.dropbutton li:first-child {
                    max-width: none;
                }

                *
                 * Content.View
                 
                td .dropbutton-wrapper.sjqlout-dropbutton {
                    position: relative;
                    top: 0;
                    margin: 0;
                    padding: 0;
                }
                td .dropbutton-wrapper.sjqlout-dropbutton .dropbutton-widget {
                    background-color: transparent;
                    position: absolute;
                    top: -1px;
                    right: 0;
                }
                td .dropbutton-wrapper.sjqlout-dropbutton .dropbutton-action a {
                    font-size: 12px;
                    line-height: 16px;
                }
                body.sjqlout-page td.views-field-slog-dropbutton {
                    width: 64px;
                }
*/

