.ui-layout-north .xt-tbline-wrapper {
    margin-top: -1px;
    border: none;
    overflow: hidden;
}
#xt-tbline-items-wrapper {
    overflow: auto;
}
#xt-tbline-items-wrapper.xt-scrollable {
    margin-left: 28px;
}
.ui-layout-pane .block-search.xt-search-tab-block {
    padding: 0;
    background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
}



.xt-tbline-item.icon-split0 {
    background-image: url("icons/pagebreak0.svg");
}
.xt-tbline-item.icon-split1 {
    background-image: url("icons/pagebreak1.svg");
}
.xt-tbline-item.icon-split2 {
    background-image: url("icons/pagebreak2.svg");
}
.xt-tbline-item.icon-split3 {
    background-image: url("icons/pagebreak3.svg");
}
.xt-tbline-item.icon-split4 {
    background-image: url("icons/pagebreak4.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-item.icon-split0 {
    background-image: url("icons/pagebreak0h.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-item.icon-split1 {
    background-image: url("icons/pagebreak1h.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-item.icon-split2 {
    background-image: url("icons/pagebreak2h.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-item.icon-split3 {
    background-image: url("icons/pagebreak3h.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-item.icon-split4 {
    background-image: url("icons/pagebreak4h.svg");
}
.xt-tbline-content .xt-tbline-item.icon-split-target {
    background-image: url("icons/pagebreak2east.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-content .xt-tbline-item.icon-split-target {
    background-image: url("icons/pagebreak2south.svg");
}
body.sjqlout-small .xt-tbline-content .xt-tbline-item.icon-split-target {
    display: none;
}
body.sjqlout-small article.node #toc.open {
    min-width: 95%;
}
.xt-tbline-content .xt-tbline-item.icon-split {
    background-image: url("icons/pagebreak2.svg");
}
#lout-center.sjqlout-next-east .xt-tbline-content .xt-tbline-item.icon-split {
    background-image: url("icons/pagebreak2h.svg");
}
#lout-center.content-splitted .xt-tbline-content .xt-tbline-item.icon-split {
    background-image: url("icons/pagebreak-remove.svg");
}
#lout-center.content-splitted.sjqlout-next-east .xt-tbline-content .xt-tbline-item.icon-split {
    background-image: url("icons/pagebreak-remove-h.svg");
}
.xt-tbline-content .xt-tbline-item.icon-over {
    background-image: url("icons/content-over.svg");
}
#lout-center.content-over .xt-tbline-content .xt-tbline-item.icon-over {
    background-image: url("icons/content-over-remove.svg");
}


