{#
/**
 * @file
 * JqLout's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 * ...
 *
 * Regions:
 * ...
 * - page.content: The main content of the current page.
 * ...
 *
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{#
#}

<div id="page-wrapper">
    {% if page.menu_top %}
        <div id="page-menu-top">
            {{ page.menu_top }}
        </div>
    {% endif %}

    {{ attach_library('classy/messages') }}
    <div id="page-sjqlout">

        <div id="lout-center" class="ui-layout-center lout-top-pane">
            <div id="lout-c-center" class="ui-layout-center region slogtb-center">
                <div id="messages"><div class="section clearfix">
                        {{ page.messages }}
                    </div></div> <!-- /.section, /#messages -->
                <!-- main content -->
                <div id="lout-c-center-content">
                    <div id="sjqlout-main-content" class="sjqlout-content is-default">
                        <div class="content-special">
                            <div class="special-left-wrapper"></div>
                            <div class="toggle-special"><div class="buttons-wrapper">
                                <div class="special-button first"></div><div class="special-button next"></div></div>                                    
                            </div>                                    
                            <div class="special-right-wrapper"></div>
                        </div>
                        <div class="content"></div>
                    </div>
                    <div id="sjqlout-main-content-over" class="sjqlout-content is-over">
                        <div class="content-special">
                            <div class="special-left-wrapper"></div>
                            <div class="toggle-special"><div class="buttons-wrapper">
                                <div class="special-button first"></div><div class="special-button next"></div></div>                                    
                            </div>                                    
                            <div class="special-right-wrapper"></div>
                        </div>
                        <div class="sjqlout-over-margin"><div class="sjqlout-over-close"></div></div>
                        <div class="content"></div>
                    </div>
                    {{ page.center }}
                </div>
            </div>
            <div id="lout-c-north" class="ui-layout-north"></div>
            <div id="lout-c-south" class="ui-layout-south sjqlout-next-active">
                <div id="lout-c-south-content">
                    <div id="sjqlout-next-content" class="sjqlout-content is-default">
                        <div class="content-special">
                            <div class="special-left-wrapper"></div>
                            <div class="toggle-special"><div class="buttons-wrapper">
                                <div class="special-button first"></div><div class="special-button next"></div></div>                                    
                            </div>                                    
                            <div class="special-right-wrapper"></div>
                        </div>
                        <div class="content"></div>
                    </div>
                    <div id="sjqlout-next-content-over" class="sjqlout-content is-over">
                        <div class="content-special">
                            <div class="special-left-wrapper"></div>
                            <div class="toggle-special"><div class="buttons-wrapper">
                                <div class="special-button first"></div><div class="special-button next"></div></div>                                    
                            </div>                                    
                            <div class="special-right-wrapper"></div>
                        </div>
                        <div class="sjqlout-over-margin"><div class="sjqlout-over-close"></div></div>
                        <div class="content"></div>
                    </div>
                </div>
            </div>
            <div id="lout-c-east" class="ui-layout-east">
                <div id="lout-c-east-content">
                    <div id="sjqlout-next-content" class="sjqlout-content is-default">
                        <div class="content-special">
                            <div class="special-left-wrapper"></div>
                            <div class="toggle-special"><div class="buttons-wrapper">
                                <div class="special-button first"></div><div class="special-button next"></div></div>                                    
                            </div>                                    
                            <div class="special-right-wrapper"></div>
                        </div>
                        <div class="content"></div>
                    </div>
                    <div id="sjqlout-next-content-over" class="sjqlout-content is-over">
                        <div class="content-special">
                            <div class="special-left-wrapper"></div>
                            <div class="toggle-special"><div class="buttons-wrapper">
                                <div class="special-button first"></div><div class="special-button next"></div></div>                                    
                            </div>                                    
                            <div class="special-right-wrapper"></div>
                        </div>
                        <div class="sjqlout-over-margin"></div>
                        <div class="content"></div>
                    </div>
                </div>
            </div>
            <div>XXXX-header-on-scroll-wrapper</div>
        </div>

        {#
                {% if page.east %}
                {% endif %}
        #}
        <div id="lout-east" class="ui-layout-east lout-top-pane">
            <div id="lout-e-center" class="ui-layout-center region slogtb-east">
                {{ page.east }}
            </div>
            <div id="lout-e-north" class="ui-layout-north"></div>
            <div id="lout-e-south" class="ui-layout-south">
                <div id="lout-e-south-content">
                    <div class="sjqlout-content-header"></div>
                    <div class="content"></div>
                </div>
            </div>
        </div>

        <div id="lout-west" class="ui-layout-west lout-top-pane">
            <div id="lout-w-center" class="ui-layout-center region slogtb-west">
                {{ page.west }}
            </div>
            <div id="lout-w-north" class="ui-layout-north"></div>
            <div id="lout-w-south" class="ui-layout-south">
                <div id="lout-w-south-content">
                    <div class="sjqlout-content-header"></div>
                    <div class="content"></div>
                </div>
            </div>
        </div>

        <div id="lout-north" class="ui-layout-north lout-top-pane">
            {{ page.north }}
        </div>

        <div id="lout-south" class="ui-layout-south slogtb-south lout-top-pane">
            {{ page.south }}
        </div>

    </div> <!-- /#page-sjqlout -->

    {% if page.menu_bottom %}
        <div id="page-menu-bottom">
            {{ page.menu_bottom }}
        </div>
    {% endif %}

    <div id="sjqlout-hidden">
    </div>

    <div id="sjqlout-preloads">
        <div id="sjqlout-pl-slide-left"></div>
        <div id="sjqlout-pl-slide-right"></div>
    </div>
</div> <!-- /#page-wrapper -->
