{#
/**
 * @file
 * Special theme implementation to display the sjqlout content block.
 *
 * Provide a header and a content region/div without content each.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 *   - class: Classes that can be used to style contextually through
 *     CSS. These can be manipulated through preprocess functions. The default
 *     values can be one or more of the following:
 *     - block: The current template type, i.e., "theming hook".
 *     - block-[module]: The module generating the block. For example, the user
 *       module is responsible for handling the default user navigation block.
 *       In that case the class would be 'block-user'.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <div class="sjqlout-content-header">
    </div>
    <div class="content">
    </div>
</div>
