#sjqlout-dialog-content article.sxt-mediawiki {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    line-height: 22px;
    padding: 0 5px;
}
body.sjqlout-small .sxt-mwcomments .sxt-mwcomment-item.level-2,
body.sjqlout-small .sxt-mwcomments .sxt-mwcomment-item.level-3,
body.sjqlout-small .sxt-mwcomments .sxt-mwcomment-item.level-4,
body.sjqlout-small .sxt-mwcomments .sxt-mwcomment-item.level-5 {
    margin-left: 4px;
}

